@media (min-width: 850px) {
   body {
      line-height: 20px;
      font-size: 16px;
   }

   .notifications {
      margin: 8vh auto;
      border-radius: 20px;
      padding: 30px;
      box-shadow: 0 0 20px -5px $light-grayish-blue-2;

      &__title {
         font-size: 22px;
      }
   }

   .notification {

      &__sender-photo {
         height: 45px;
         margin-right: 20px;
      }


      &__info {
         margin: 0;
      }

      &__ago {
         margin-top: 5px;
      }
   }
}